/* Estilos globais */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Divisão da página */
.split-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.split-page h3 {
    color: white;
}

/* Metade esquerda (fundo azul) */
.box-1 {
    padding: 6%;
    align-items: center;
    flex: 1;
    background-color: #2A3F48; /* Cor azul desejada */
    display: flex;
    flex-direction: column; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    position: relative;
    z-index: 1;
}

.box-1 h1 {
    padding-top: 15%;
}

.box-1 h3 {
    padding-top: 15%;
}

.box-1 h2 {
    color: white;
    padding-top: 10%;
    padding-bottom: 15%;
}

/* Metade direita (cor de fundo #D9D9D9) */
.box-2 {
    flex: 1;
    background-color: #5f5c5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralize verticalmente */
    position: relative;
    z-index: 2;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.4); /* Sombra no lado esquerdo (mais forte) */
}

/* Adiciona espaço entre 'Contact Us' e os inputs */
.box-2 h2 {
    margin-bottom: 20px;
}

/* Divisória com sombra */
.split-divider {
    position: absolute;
    width: 2px; /* Largura da sombra */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Cor da sombra */
    left: 50%;
    transform: translateX(-50%); /* Centralizar na vertical */
    z-index: 3; /* Acima de tudo */
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.8); /* Sombra ainda mais forte */
}

/* Formulário */
.form-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: transparent; /* Fundo transparente */
    text-align: center;
    position: relative;
    z-index: 4; /* Acima de tudo */
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container2 {
    display: flex;
    margin-bottom: 15%;
}

.form-container2 h1 {
    padding-left: 5%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    border-radius: 0;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

/* Botão de Login */
.btn-primary {
    background-color: #2A3F48!important; /* Cor de fundo desejada */
    color: #fff !important; /* Cor do texto */
    border: none !important;
    border-radius: 50px !important; /* Arredondado */
    padding: 10px 20px !important; /* Reduz o padding do botão */
    font-size: 16px !important; /* Reduz o tamanho da fonte */
    transition: background-color 0.3s ease !important;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6); /* Sombra no lado direito */
}

.btn-primary:hover {
    background-color: #378A84 !important; /* Cor de fundo ao passar o mouse */
}

.btn-sec {
    background-color: #ffffff!important; /* Cor de fundo desejada */
    color: #0e0e0e !important; /* Cor do texto */
    border: none !important;
    border-radius: 50px !important; /* Arredondado */
    padding: 10px 20px !important; /* Reduz o padding do botão */
    font-size: 24px !important; /* Reduz o tamanho da fonte */
    transition: background-color 0.3s ease !important;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6); /* Sombra no lado direito */
}

.link-danger {
    color: #DC3545;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-danger:hover {
    color: #A52A2A;
}

.arrow-img {
    width: 2em; /* Tamanho menor para a seta */
    margin-left: 8px; /* Adiciona espaço entre a imagem e o texto no botão */
}

/* Imagem do logotipo */
.tel-img {
    width: 3em;
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 768px) {
    /* Altere o display da classe .split-page para 'block' em telas menores */
    .split-page {
        display: block;
    }
    
    /* Outras regras de estilo para dispositivos móveis aqui */
}
