/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Estilos para telas maiores (computadores) */
.tittle {
    color: white;
    display: flex;
    justify-content: left;
    gap: 0.5%;
    margin: 1.5%;
}

.tittle h1 {
    font-size: 24px;
    margin-top: 1%;
}

.tittle img {
    width: 4em;
}

section h1 {
    color: white;
    font-size: 36px;
    margin: 1%;
}

.img1 {
    padding: 1%;
}

.trafficlight {
    padding-top: 60%;
    width: 24em;
    max-width: 100%;
}

.box-traffic {
    display: flex;
    background-color: #4f85a53b;
    justify-content: center; /* Centralizar conteúdo horizontalmente */
}



.box-traffic2 {
    margin: 1%;
    padding: 3%;
    color: white;
    background-color: #1C272F;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: center; /* Centralizar conteúdo vertical e horizontalmente */
}

.img2 {
    padding: 1%;
}

.agro {
    padding-top: 60%;
    width: 24em;
    max-width: 100%;
}

.box-agro {
    display: flex;
    background-color: #96ffa744;
    justify-content: center; /* Centralizar conteúdo horizontalmente */
}



.box-agro2 {
    margin: 1%;
    padding: 3%;
    color: white;
    background-color: #243627;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: center; /* Centralizar conteúdo vertical e horizontalmente */
}

/* Estilos para telas menores (celulares e tablets) */
@media screen and (max-width: 768px) {
    .tittle img {
        width: 3em;
    }

    .tittle h1 {
        font-size: 20px;
        margin-top: 1.5%;
    }

    .box-traffic,
    .box-agro {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box-traffic3,
    .box-agro3 {
        padding: 5%;
        margin-top: 10px; /* Adicione espaço entre as divs */
    }
}
