/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Estilos para a seção de cabeçalho */
.header {
  padding: 20px;
  text-align: center;
  color: white;
  padding-left: 1px;
}

/* Estilos para a seção de notícias */
.news-section {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  border-radius: 10px;
}

/* Estilos para cada artigo de notícia */
.news-article {
  margin-bottom: 20px;
}

.news-article h2 {
  margin-top: 0;
}

/* Estilos para a imagem do logotipo */
.logo-image21 {
  width: 99.1vw;
  padding-top: 6%;
  padding-bottom: 6%;
}

/* Estilos para telas menores (dispositivos móveis) */
@media screen and (max-width: 768px) {
  /* Ajuste os estilos conforme necessário para telas menores aqui */
  .news-section {
      padding: 10px;
      margin: 10px;
  }

  .news-article h2 {
      font-size: 24px;
  }

  .logo-image21 {
      width: 100%;
      padding-top: 3%;
      padding-bottom: 3%;
  }
}
